*, *::before, *::before {
    box-sizing: border-box;
}

html {
    font-size: 68.5%;
}

body {
    margin: 0;
    font-size: 1.5rem;
    font-family: sans-serif;
}

.announcement-container {
    background-color: rgb(0, 132, 255);
    color: white;
}

.announcement-item {
    padding: 1.4rem;
    margin: 0;
    text-align: center;
    font-size: 1.4rem;
}

.announcement-item a {
    color: white;
    margin-left: .5rem;
}

.nav {
    /* border-bottom: .2px solid #333; */
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav-container{
    display: grid;
    grid-template-columns: 3rem 1fr 25rem;
    align-items: center;
    padding: 1.3rem;
    padding-top: 1.4rem;
    position: sticky;
    top: 0;
    width: 76%;
    margin: 0 auto;
}

/* .nav:target {
    border-bottom: 2px solid black;
} */

.nav-list {
    display: flex;
    margin: 0;
    padding-left: 1rem;
    font-size: 1.3rem;
    font-weight: lighter;
}

.nav-list a {
    text-decoration: none;
    color: black;
}

.nav-list a:hover {
    color: #1967d2;
}

.logo {
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 1.5rem;
}

.nav-list li {
    list-style: none;
    margin-left: 1.7rem;
}

.nav-list-icons {
    padding-left: 4.5rem;
}

.nav-list-icons li {
    margin-left: 1.5rem;
}

.section {
    padding-bottom: 8rem;
}

.section-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7.5rem;
    padding-bottom: 4rem;
}

.header-title {
    font-size: 3.3rem;
    margin-top: 1rem;
    /* font-weight:  */
}

.header-title h1 {
    font-weight: 600;
}

.header-products {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    margin-top: 4rem;
}

.header-products img {
    height: 11rem;
}

.header-products p {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 3rem;
}

.header-products a {
    text-decoration: none;
    color: black;
}

.new-tag {
    font-size: 1.1rem;
    background-color: rgb(190, 214, 223);
    padding: .3em .65em;
    border-radius: 1em;
    position: absolute;
    bottom: 2.5rem;
    left: 3.5rem;
}

.header-product {
    position: relative;
}

.big-earbuds-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 62rem));
    justify-content: center;
    text-align: center;
    padding: 0 2rem; 
    column-gap: 2.2rem;
    row-gap: 2rem;
}

.big-earbud-left {
    background-color: #fce3db;
    padding: 2.5em;
    padding-bottom: .8rem;
    border-radius: 1.5em;
}

.big-earbud-right {
    background-color: #d7dddb;    
    padding: 2.5em;
    padding-bottom: 1.2rem;
    border-radius: 1.5em;
}

.big-earbuds-title {
    font-size: 3.5rem;
    font-weight: 600;
    margin: 0;
}

.big-earbud-tagline {
    font-size: 1.2rem;
    margin-top: 2rem;
}

.big-earbud-price {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 0;
}

.big-earbud-extraInfo {
    font-size: 1.1rem;
    margin-top: .6rem;
    margin-bottom: 0;
}

.btn {
    margin-top: 2rem;
    padding: .8rem 1.8rem;
    border-radius: .3em;
    outline: none;
    border: 2px solid rgb(97, 97, 97);
    background-color: transparent;
    cursor: pointer;
    font-size: 1.4rem;
}

.btn:hover {
    background-color: #333;
    color: white;
    transition: .2s;
}

.big-earbud-image-container img {
    height: auto;
    width: 100%;
    margin-top: 4rem;
}

.section-differentiation {
    padding: 11rem;
    padding-bottom: 6.5rem;
}

.section-title {
    font-size: 3.5rem;
    font-weight: 600;
    width: 45%;
    text-align: center;
    margin: 0 auto;
}

.differentiation-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4.5rem;
    padding: 0 22rem;
}

.differentiation-item {
    text-align: center;
}

.differentiation-item h3 {
    font-size: 1.8rem;
    margin-top: 2.8rem;
    font-weight: 600;
    margin-bottom: 1.8rem;
}

.differentiation-item p {
    font-size: 1.4rem;
    width: 91%;
    margin: 0 auto;
    line-height: 1.5;
    font-weight: lighter;
}

.section-decision {
    padding-bottom: 4rem;
    padding-top: 5rem;
}

.section-decision-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 43rem));
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
    position: relative;
}

.decision-earbud-left {
    position: relative;
}

.decision-earbud-left span {
    position: absolute;
    left: 2.7rem;
    top: 2rem;
    bottom: 52rem;
    font-size: 1.2rem;
}

.section-decision-container img {
    padding: 2rem;
    height: 40rem;
    background-color: #F8F9FA;
    border-radius: 1em;
}

.decision-earbud-desc {
    padding: 1rem .5rem;
    padding-bottom: 1.6rem;
}

.decision-earbud-desc h3 {
    font-size: 2rem;
    font-weight: 600;
}

.decision-btn-container {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.decision-btn-container a:hover {
    text-decoration: underline;
}

.btn-buy {
    font-size: 1.3rem;
    margin-top: 0;
    margin-right: 1.3rem;
    padding: .9rem 1.7rem;
    border: none;
    background-color: #1967d2;
    color: white;
}

.btn-buy:hover {
    background-color: #1251a9;
    box-shadow: 0 0 3px 0 #1459ba;
}

.decision-btn-container a {
    text-decoration: none;
    color: #1967d2
}

.decision-btn-container.container-right {
    margin-top: 2.5rem;
}

.section-compare {
    padding: 0 15rem;
    padding-bottom: 11rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.compare-container {
    margin-bottom: 3.5rem;
    min-width: 86rem;
    max-width: 70rem;
}

hr {
    border: .5px solid rgb(228, 228, 228);
    border-bottom: none;
    margin-top: .8rem;
}

.compare-checks {
    display: flex;
    justify-content: space-around;
}

.compare-text {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.7rem;
}

.check-symbol, .uncheck-symbol{
    font-size: 1.1rem;
    background-color: #1967d2;
    color: white;
    padding: .3em .55em .1em .5em;
    border-radius: 50%;
    margin-right: 45%;
    /* width: 100%; */
}

.uncheck-symbol {
    background-color: rgb(96, 95, 95);
}

.battery-life {
    width: 100%;
}

.btn.btn-view-specs {
    color: #1967d2;
    border-color: #1967d2;
}

.btn.btn-view-specs:hover {
    background-color: #1251a9;
    color: white;
}

.section-accessories p {
    text-align: center;
    margin-top: 4rem;
}

.section-accessories a {
    text-decoration: none;
    color: #1251a9;
}

.section-accessories a:hover {
    text-decoration: underline;
}

.accessories-grid {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 33rem 33rem 33rem;
    align-items: center;
    justify-content: center;
    column-gap: 3rem;
}

.accessory {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.accessory img {
    width: 100%;
    background-color: #F8F9FA;
    margin-bottom: 1.5rem;
    margin-top: 1.7rem;
}

.accessory-name {
    font-size: 1.7rem;
    margin-bottom: 3rem;
    font-weight: 600;
}

.accessory-price {
    font-weight: 600;
    margin-bottom: .5rem;
}

.section-sustainability {
    text-align: center;
    background-color: #F8F9FA;
    padding-top: 6.5rem;
}

.sustainable-img-container {
    margin-top: 3.5rem;
}

.section-shipping {
    padding-top: 7rem;
}

.section-shipping-grid {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 52rem 52rem;
    justify-content: center;
    column-gap: 2.2rem;
    margin: 0 auto;
}

.shipping-container, .finance-container {
    background-color: #F8F9FA;
    padding: 5.5rem 3rem;
    border-radius: 2em;
    text-align: center;
}

.section-shipping-grid h3 {
    font-weight: 600;
    font-size: 1.7rem;
    margin-top: 1.2rem;
    margin-bottom: .6rem;
}

.tnc {
    font-size: 1.1rem;
    line-height: 1.6;
    padding: 0 28rem;
    margin-top: 18rem;
    margin-bottom: 9rem;
    font-weight: lighter;
}

.useful-links-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 33rem;
    font-size: 1.3rem;
}

.useful-links-container a {
    text-decoration: none;
    color: black;
    font-weight: lighter;
}

.useful-links-container a:hover {
    color: #1967d2;
}

.useful-links-left, .useful-links-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.useful-links-left {
    height: 28rem;
    margin-right: 5rem;
}

.useful-links-right {
    height: 45rem;
}

.footer {
    display: flex;
    width: 70%;
    border-top: .5px solid rgb(235, 235, 235);
    justify-content: space-between;
    margin: 0 auto;
    font-size: 1rem;
    padding: .5rem 0;
}

.footer-icons {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    width: 30%;
    padding-left: 0;
}

.footer-icons li {
    margin-right: 1.2rem;
}

.footer-links {
    display: flex;
    list-style: none;
}

.footer-links a {
    text-decoration: none;
    margin-left: 4rem;
    color: black;
    font-weight: lighter;
}